
body {


}


div.page-header {

    width: 100%;
    background-color: #bb1919;
    color: white;
    padding: 0.4em;
    margin-bottom: 0;

}
div.page-header h1 {
    display: block;
    margin: 0.5em auto;
    max-width: 800px;
}

div.page-header-banner {
    width: 100%;
    height: 2em;
    background-color: #a91717;
}

div.page-header-banner input{
    background: transparent;
    color: white;
    border: none;
}
div.page-header-banner button{
    color: white;
    border: none;
    font-weight: bold;
    background: transparent;
}

div.page-header-banner div.input-group{
    max-width: 800px;
    margin: 0 auto;
}

div.footer {
    width: 100%;
    margin-top: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: solid 1px #aaa;
    text-align: center;
}

div.body {

    padding: 0.0em;
    max-width: 800px;
    border-left: solid 1px #999;
    border-right: solid 1px #999;
    box-shadow: 0 0 5px #aaa;
    margin: 0 auto;
    padding: 0.4em;
}
